<footer>
    <div class="container-fluid bg-primary">
        <a href="/Contact">Contactez-nous</a>
        <a href=""><img src="images/GitHub-Mark-64px.png" alt=""></a> 
    </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>