<div class="container-fluid">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis similique expedita iste id repellat numquam assumenda quam sapiente? Impedit nulla fugiat itaque ipsum voluptate quos commodi ab facilis omnis exercitationem.</p>
</div>

</body>
</html>