<nav class="navbar navbar-expand-lg navbar-light">
  <img src="images/small-logo.png" alt="img">
  <img id="logo1" src="images/5c-logo.png" alt="img">
  <a id="title" class="navbar-brand" href="/">Planter, Manger, Bouger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a href="/planter">
          <button class="btn-lg btn-success"><p>Planter</p></button>
        </a>
      </li>
      <li class="nav-item">
          <a href="/manger">
              <button class="btn-lg btn-success"><p>Manger</p></button>
            </a>
                </li>
      <li class="nav-item">
          <a href="/bouger">
              <button class="btn-lg btn-success"><p>Bouger</p></button>
            </a>
                </li>
    </ul>
  </div>
</nav>