<% include ./partials/header%>
    <% include ./partials/navbar%>

    <section>
        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                    <div class="bg-primary text-center" id="planter">
                        Planter
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="bg-primary text-center" id="bouger">
                        Bouger
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <div class="bg-primary text-center" id="manger">
                        Manger
                    </div>

                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </section>
        <% include ./partials/footer%>