<% include ./partials/header%>
    <% include ./partials/navbar%>


        <div class="module2">



            <div class="counter">
                <p id="counter2">score</p>
            </div>

            <div class="" id="table">
                <p>Table :</p>


                <!-- Good food -->
                <div class="draggable goodfood" data-score="5">
                    <p>Pomme</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Radis</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Banane</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Carotte</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Patate</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Salade</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Poireau</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Poivron</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Eau</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Artichaud</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Kiwi</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <img src="https://placekitten.com/50/50" alt="">
                    <p>Riz</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <img src="https://placekitten.com/50/50" alt="">
                    <p>Brocoli</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Petit pois</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Pamplemousse</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Lentilles</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Melon</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Avocat</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Comcombre</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Figue</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Orange</p>
                </div>
                <div class="draggable goodfood" data-score="5">
                    <p>Asperge</p>
                </div>


                <!-- Badfood -->
                <div class="draggable badfood" data-score="-5">
                    <p>Frites</p>
                </div>
                <div class="draggable badfood" data-score="-5">
                    <p>Soda</p>
                </div>
                <div class="draggable badfood" data-score="-5">
                    <p>Burger</p>
                </div>
                <div class="draggable badfood" data-score="-5">
                    <p>pattes</p>
                </div>
                <div class="draggable goodfood" data-score="-5">
                    <p>beignet</p>
                </div>
                <div class="draggable goodfood" data-score="-5">
                    <p>Crêpes</p>
                </div>
                <div class="draggable goodfood" data-score="-5">
                    <p>Pizza</p>
                </div>
            </div>
            <!-- Fin de table -->

            <div class="ui-widget-header" id="assiette">
                <p>Assiette : Drop here</p>


            </div>
            <!-- assiette -->

        </div>
        <!-- /Module2 -->




        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>


        <script src="/scripts/manger.js"></script>


        <% include ./partials/footer %>