<% include ./partials/header%>
    <% include ./partials/navbar%>


        <div class="module2">



            <div class="counter">
                <img id="module2img" src="" alt="">
                <p id="module2txt">Ajoute des aliments</p>
            </div>

            <div class="" id="table">
                


                <!-- Good food -->
                <div class="draggable goodfood" data-score="5">
                    <!--pomme  -->
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/10/89/3b/10893bfa5239ff194d85e6afce791c76.png" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!-- radis -->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2F0826084a.png&f=1" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  banane-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fshopkins%2Fimages%2F8%2F80%2FChefClub_HEROES_Bananas.png%2Frevision%2Flatest%3Fcb%3D20160930144907&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  carotte-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2F8e33b199.png&f=1" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  pomme de terre-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2016%2F06%2F29%2F16%2F06%2Fpotato-1487142_960_720.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  salade-->
                    <img src="http://clipart.coolclips.com/480/vectors/tf05022/CoolClips_food0340.png" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  poireau-->
                    <img src="http://www.labodestokes.fr/wp-content/uploads/2016/07/plateaux-repas_VEGETARIEN.png" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!-- poivron -->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmumuland.m.u.pic.centerblog.net%2Fc74fe7b7.png&f=1" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!-- eau -->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fclubpenguin%2Fimages%2F8%2F87%2FBottle_of_H20.PNG%2Frevision%2Flatest%3Fcb%3D20130219062916&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  artichaud-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F7%2F7d%2FMeuble_h%25C3%25A9raldique_Artichaut.svg%2F588px-Meuble_h%25C3%25A9raldique_Artichaut.svg.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  kiwi-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F51%2Fba%2F4f%2F51ba4ff143fd86f3c209f000f072213a.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  riz-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.coloori.com%2Fwp-content%2Fuploads%2F2016%2F04%2Fbolderiz.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  brocoli-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2Fd85c%2Ff%2F2013%2F028%2Fa%2Ff%2Fdd_broccoli__kawaii__by_amis0129-d5t1804.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  petit pois-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpublicdomainvectors.org%2Fphotos%2FErbsen.png&f=1" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  pamplemousse-->
                    <img src="http://trucosdehogarcaseros.com/wp-content/uploads/2015/09/remedios-caseros-para-matar-pulgas-pomelo.png" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  aubergine-->
                    <img src="https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fth03.deviantart.net%2Ffs71%2FPRE%2Fi%2F2012%2F220%2F6%2Fa%2Fkawaii_eggplant_by_chloeisabunny-d5aciro.png&u=http://pre15.deviantart.net/4fa4/th/pre/i/2012/220/6/a/kawaii_eggplant_by_chloeisabunny-d5aciro.png"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  melon-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2F725ad81d.png&f=1" alt="">
                </div>

                <div class="draggable goodfood" data-score="5">
                    <!--  comcombre-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.emojiterra.com%2Fgoogle%2Fandroid-oreo%2F512px%2F1f952.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  figue-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2Fc2c6043b.png&f=1" alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  orange-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2017%2F01%2F31%2F00%2F18%2Fclementine-2022512_960_720.png&f=1"
                        alt="">
                </div>
                <div class="draggable goodfood" data-score="5">
                    <!--  asperge-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fpetit-bazar.unige.ch%2Fwww%2Fphp%2Fliste-images%2Fimages%2Fasperges.png%3F&f=1"
                        alt="">
                </div>


                <!-- Badfood -->
                <div class="draggable badfood" data-score="-5">
                    <!--  sucette-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.icone-png.com%2Fpng%2F13%2F13134.png&f=1" alt="">
                </div>

                <div class="draggable badfood" data-score="-5">
                    <!--  frittes-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fopenclipart.org%2Fimage%2F2400px%2Fsvg_to_png%2F149623%2Ffries.png&f=1"
                        alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  soda-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F6%2F6b%2FSoft_Drink.svg%2F559px-Soft_Drink.svg.png&f=1"
                        alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  burger-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fih1.redbubble.net%2Fimage.120798798.9409%2Fsticker%2C375x360.u1.png&f=1"
                        alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  pates-->
                    <img src="http://p2.storage.canalblog.com/29/51/18343/62548985.png" alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  donnuts-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmoziru.com%2Fimages%2Frandome-clipart-transparent-tumblr-7.png&f=1"
                        alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  crepes-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2F28164418.png&f=1" alt="">
                </div>
                <div class="draggable badfood" data-score="-5">
                    <!--  pizzas-->
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmiam-images.m.i.pic.centerblog.net%2Fo%2F969f5a70.png&f=1" alt="">
                </div>
            </div>
            <!-- Fin de table -->

            <div class="ui-widget-header" id="assiette">
                


            </div>
            <!-- assiette -->

        </div>
        <!-- /Module2 -->




        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>


        <script src="/scripts/manger.js"></script>


        <% include ./partials/footer %>