<% include ./partials/header %>
    <% include ./partials/navbar %>
        <div class="clickable-images">
            <img id="button1" src="./images/enterrer.png" alt="enterre les graines" class="img-circle" onclick="changeBtn1Image()">
            <img id="button2" src="./images/semer.png" alt="enterre les graines" class="img-circle" onclick="changeBtn2Image()">
        </div>

        <div class="main-image">
            <img id="mainImg" class="img-fluid" src="./images/5c-logo.png" alt="">
        </div>

        <!-- <form action="/planter">
            <button id="restart-btn" type="submit" class="btn d-none" value="Réessayer"><i class="fas fa-redo-alt"></i> Réessayer</button>
        </form> -->

        <form id="formplanter" action="/planter">
            <input  type="submit" id="restart-btn" class="btn d-none img-circle" value="Réessayer" src="./images/semer.png" />
        </form>
        <script src="./scripts/planter.js"></script>
        <% include ./partials/footer %>
