<% include ./partials/header %>
<% include ./partials/navbar %>
<body>
    <input class="btn btn-default btn-circle" type="image" src="./images/burger.png"/>

    
    
    <script src="./scripts/planter.js"></script>
</body>
<% include ./partials/footer %>