
.module2 {
    display: flex;
    width: 100%;
    height: 80vh;
    background-image: url('https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fwww.thewallpapers.org%2Fphoto%2F34693%2Fwood_05.jpg&u=https://www.thewallpapers.org/photo/34693/wood_05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-position: 30% 0; */

}

#table {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

#assiette {
    width: 50%;
    height: 500px;
    /* background-color: blue; */
    background-image: url('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fduquesne-service.fr%2Fimage%2Farticle%2F133%2Fassiette-elysees-picture1-zoom_fiche.png&f=1');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
}

.draggable {
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.counter {
    position: absolute;
    /* background-color: #37fb37; */
    top: 12%;
    left: 90%;
    font-family: fantasy;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}

.draggable img {
    width: 100%;
    height: 100%;
}

#formManger {
    position: absolute;
    top: 76%;
    left: 90%;
    
}

#btnManger {
    border-radius: 50% !important;
    width: 80px !important;
    height: 80px;
    background-color: #37fb37;
}

#btnManger:active {
background-color: #37fb37;
}

#btnManger:hover{
background-color: #37fb37;
}